body {
    background-color: rgba(2, 2, 75, 0.575);
    font: normal 15pt Arial;
}

header {
    color: whitesmoke;
    text-align: center;
}

section {
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 15px black;
}

footer {
    color: white;
    text-align: center;
    font-size: italic;
}